.aside-menu {
    background: #fff;
    position: fixed;
    height: 100vh;
    right: 0;
    transition: transform .3s ease-in-out, padding .3s ease-in-out;
    width: 510px;
    z-index: 10;
    overflow-y: auto;
    box-sizing: inherit;
    transform: translateX(510px);
    

    @media (max-width: 530px) {
        width: 100%;
        transform: translateX(100%);
    }
    

    &.open {
        transform: translateX(0);

        @media (max-width: 530px) {
            transform: translateX(0);
        }
    }

    &__icon {
        position: absolute;
        top: 45px;
        right: 45px;
        width: 36px;
        height: 36px;
        z-index: 1;
        cursor: pointer;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        padding-bottom: 0;
        height: 100%;
        box-sizing: inherit;
    }

    nav {
        padding-top: 70px;
    }

    li {
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: #000;
        font-size: 25px;
        line-height: 30px;  
        position: relative;

        &:hover {
            &::before {
                width: 100%;
            }
        }
        
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $dark-pink-color;
            bottom: -5px;
            transition: width #{$base-transition};
        }
    }

    &__bottom {
        text-align: right;
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
        padding-bottom: 30px;       

        div {
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
}