.header {
    max-width: 1900px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    
    .container{
        max-width: 1440px;
        margin: 0 auto;

        .container_line{
            display: flex;
            align-items: center;

            .header__logo{
                margin: 16.7px 234.93px 16.7px 143px;
            }

            .header__contacts{
                margin-right: 54.98px;
                font-size: $text;
                align-items: center;

                ul{
                    display: flex;
                }

                .contacts_e-mail{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
                .contacts_phone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    grid-gap: 5px;
                }
                .contacts_button{
                    @include blueButton;
                    position: relative;
                    width: 251.07px;
                    height: 54.36px;
                }
                .contacts_button:hover{
                    @include dark-pinkButton;
                    width: 251.07px;
                    height: 54.36px;
                    transition: all .3s linear;

                }

        a{
            text-decoration: none;
            color: $text_dark;
            font-weight: 700;
        }
            }
            .header__menu{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 150px;
            }
        }
    }

}
.header ul li:not(:last-child){
    margin-right: 30px;
}

@media (max-width: $mobile) {
    .header{
        width: 100%;
        height: 54px;
        padding: 0;

        .container{
            width: 100%;
            height: 100%;
            justify-content: center;
        
            .container_line{
            justify-content: space-between;
            height: 100%;

                .header__logo{
                    margin: 0 25px;

                    .logo{
                        width: 72px;
                        height: 33px;
                    }
                }
                .header__menu{
                    margin-right: 15px;

                    .menu{
                        width: 31.12px;
                        height: 18.29px
                    }
                }
            
            }
        }

        .header__contacts{
        display: none;
        }
    }
}