.header {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    
    .container{
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 $tabled-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;

            .header__contacts{
                font-size: $text;
                align-items: center;
                justify-content: flex-end;

                @media (max-width: $mobile-large){
                    display: none;
                }

                ul{
                    display: flex;
                }

                .contacts_e-mail{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
                .contacts_phone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    grid-gap: 5px;
                }
                .contacts_button{
                    @include blueButton;
                    position: relative;
                    width: 251.07px;
                    height: 54.36px;
                }
                .contacts_button:hover{
                    @include dark-pinkButton;
                    width: 251.07px;
                    height: 54.36px;
                    transition: all .3s linear;
                    }

                .header__menu{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-right: 150px;
                }

        a{
            text-decoration: none;
            color: $text_dark;
            font-weight: 700;
            }
        
            
        }
    }
}
.header ul li:not(:last-child){
    margin-right: 30px;
}

@media (max-width: $mobile) {
    .header{
        width: 100%;
        height: 54px;
        padding: 0 15px;

        .container{
            height: 100%;
            justify-content: space-between;

                .header__logo{
                    margin: 0 25px;

                    .logo{
                        width: 72px;
                        height: 33px;
                    }
                }
                .header__menu{
                    margin-right: 15px;

                    .menu{
                        width: 31.12px;
                        height: 18.29px
                    }
                }
            
            }
        }

        .header__contacts{
        display: none;
        }
    }
