.banner {
        font-family: $base-font;  
        background-color: $light-gray-color; 

        .container {                 
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            padding: 82px 20px 80px;

            @media (max-width: $mobile-large) {
                padding: 60px 20px;
            }

            @media (max-width: $mobile-middle) {
                padding: 60px 20px 140px;
            }
        }
    }
    
.banner__leftside {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.banner__title {
font-size: $title;
font-weight: 700;
margin-bottom: 31px;

@media (max-width: 767px) {
    font-size: $subtitle;
    margin-bottom: 20px;
}
}

.banner__subtitle {
    font-size: $subtitle;
    font-weight: 400;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        font-size: $text;
        line-height: 20px;
        margin-bottom: 20px;
    }
}

.blue-color {
    color: $blue-color;
}

.banner__button {
    @include borderButton;
    height: 54px;
    width: 300px;
    padding: 0;
    justify-content: center;

    @media (max-width: $mobile-large) {
        
        width: 214px;
        font-size: $text;
    }
}

.banner__button::before {
    content: '';
    @include drop;

@media (max-width: $mobile-large) {
    padding: 0 16px;
}
}


svg {
    position: absolute;
    transition: left .2s ease;
    left: calc(100% - 25px);
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;

    @media (max-width: $mobile-large) {
        left: calc(100% - 10px);
    }
}

.banner__rightside {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: -85px;

    @media (max-width: $mobile-large) {
        position:absolute;
        bottom: -45px;
        right: 20px;
    }

}