.banner {
    max-width: 100%;
    height: 447px;
    background-color: $light-gray-color;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    justify-content: space-around;
}

.banner__leftside {
    display: flex;
    flex-direction: column;
    
}

.banner__title {
font-size: $title;
font-weight: 700;
padding-bottom: 30px;
}

.banner__subtitle {
    font-size: $subtitle;
    font-weight: 400;
    padding-bottom: 30px;
}

.blue-color {
    color: $blue-color;
}

.banner__button {
    padding: 18px 50px;
    @include borderButton;
    font-size: 15px;
    font-weight: 700;
}

.banner__button:after {
    content: url(/assets/images/drop.svg);
    position: absolute;
    left: -1%;
    bottom: -25%;
}

.banner__button:before {
    content: url(/assets/images/main_banner/Стрелка.png);
    position: absolute;
    right: -10%;
}


.banner__button:hover {
    @include dark-pinkButton;
}

.banner__img {
    max-width: 100%;
    padding-top: 17%;
    position: absolute;
}

@media (max-width: $mobile) {
   
    .banner__title {
        font-size: subtitle;
        font-weight: 700;
        padding-bottom: 15px;
        }
        
        .banner__subtitle {
            font-size: $subtitle;
            font-weight: 400;
            padding-bottom: 30px;
        }
    
   
    
}
