@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Цвета */
/* Размеры шрифтов */
/*42px*/
/*25px*/
/*15px*/
/*Брейкпоинты медиазапроса*/
/* Необходимо указать padding'и - они для каждой кнопки свои */
body {
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.625em;
  line-height: 50px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5625em;
    line-height: 30px;
  }
}

.pink-button {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #323139;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9375em;
  border: 2px solid #E67187;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
  padding: 0 50px;
  cursor: pointer;
  /* У этой кнопки есть элемент "капля" и "стрелка", которая задается отдельно через ::after */
  height: 54px;
}

@media (max-width: 767px) {
  .pink-button {
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .pink-button:hover {
    background-color: #E67187;
    color: #FFFFFF;
  }
  .pink-button:hover svg {
    left: calc(100% + 15px);
  }
}

.pink-button svg {
  position: absolute;
  -webkit-transition: left .2s ease;
  transition: left .2s ease;
  left: calc(100% - 25px);
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

@media (max-width: 767px) {
  .pink-button svg {
    left: calc(100% - 10px);
  }
}

@media (max-width: 767px) {
  .pink-button {
    height: 38px;
  }
}

.pink-button ::before {
  content: '';
  position: absolute;
  background: url("../images/drop.svg") no-repeat;
  width: 14px;
  height: 22px;
  left: -8px;
  bottom: -11px;
}

.arrow-next,
.arrow-prev {
  cursor: pointer;
}

@media (max-width: 767px) {
  .arrow-next,
  .arrow-prev {
    display: none;
  }
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.invisible {
  opacity: 0;
}

.documents {
  padding: 40px 0 80px 0;
}

@media (max-width: 767px) {
  .documents {
    padding: 30px 0 60px 0;
  }
}

.documents h1 {
  margin-bottom: 31px;
}

@media (max-width: 767px) {
  .documents h1 {
    margin-bottom: 20px;
  }
}

.documents h1 span {
  color: #22B5BF;
}

.documents-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  position: relative;
}

@media (max-width: 767px) {
  .documents-content {
    display: block;
  }
}

.documents-content .background-plus {
  position: absolute;
  right: 30px;
  top: -30px;
}

.documents-content p {
  line-height: 18px;
}

.documents-content p:not(:last-child) {
  margin-bottom: 15px;
}

.documents-content p:last-of-type {
  margin-bottom: 30px;
}

.documents-text {
  -ms-flex-preferred-size: 457px;
      flex-basis: 457px;
}

.documents-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .documents-slider {
    width: 450px;
  }
}

@media (max-width: 767px) {
  .documents-slider {
    width: 100%;
  }
}

.documents-slider .swiper {
  width: 511px;
  margin: 0 20px;
}

@media (max-width: 767px) {
  .documents-slider .swiper {
    margin: 0;
    margin-right: -15px;
    width: calc(100% + 15px);
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .documents-slider .swiper-slide {
    width: 94px;
  }
}

.documents-slider__item {
  border: 2px solid #22B5BF;
  border-radius: 10px;
  overflow: hidden;
  max-width: calc(100% - 4px);
  margin: 0 auto;
}

.documents-slider__item img {
  width: 100%;
  max-height: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .documents-slider__item {
    width: 94px;
    height: 130px;
  }
}

.wrapper {
  background-color: #F9F9F9;
  padding: 40px 0 80px 0;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 30px 0 60px 0;
    position: relative;
  }
}

.banner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Rubik", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .banner {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .banner__leftside {
    padding: 0 15px;
  }
}

.banner__title {
  font-size: 2.625em;
  font-weight: 700;
  margin-bottom: 31px;
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 1.5625em;
    margin-bottom: 20px;
  }
}

.banner__subtitle {
  font-size: 1.5625em;
  font-weight: 400;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .banner__subtitle {
    font-size: 0.9375em;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.blue-color {
  color: #22B5BF;
}

.banner__button {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #323139;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9375em;
  border: 2px solid #E67187;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
  padding: 0 50px;
  cursor: pointer;
  /* У этой кнопки есть элемент "капля" и "стрелка", которая задается отдельно через ::after */
  height: 54px;
  width: 300px;
}

@media (max-width: 767px) {
  .banner__button {
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .banner__button:hover {
    background-color: #E67187;
    color: #FFFFFF;
  }
  .banner__button:hover svg {
    left: calc(100% + 15px);
  }
}

.banner__button svg {
  position: absolute;
  -webkit-transition: left .2s ease;
  transition: left .2s ease;
  left: calc(100% - 25px);
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

@media (max-width: 767px) {
  .banner__button svg {
    left: calc(100% - 10px);
  }
}

@media (max-width: 767px) {
  .banner__button {
    width: 214px;
    font-size: 0.9375em;
  }
}

.banner__button::before {
  content: '';
  content: '';
  position: absolute;
  background: url("../images/drop.svg") no-repeat;
  width: 14px;
  height: 22px;
  left: -8px;
  bottom: -11px;
}

@media (max-width: 767px) {
  .banner__button::before {
    padding: 0 16px;
  }
}

svg {
  position: absolute;
  -webkit-transition: left .2s ease;
  transition: left .2s ease;
  left: calc(100% - 25px);
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

@media (max-width: 767px) {
  svg {
    left: calc(100% - 10px);
  }
}

.banner__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .banner__rightside {
    position: absolute;
    bottom: -45px;
    right: 20px;
  }
}

.banner__img {
  padding: 30px 0 80px 0;
}

@media (max-width: 767px) {
  .banner__img {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
/*# sourceMappingURL=main.css.map */